@model IEnumerable<MusicStore.Models.DataContentsModel>
@{
    ViewBag.Title = "Cart";
    decimal price = 0;
}

<div class="row">
    <div class="col-md-12 cartHeader">
        <h1>Items in cart</h1>
      </div>
</div>

@foreach (var data in Model)
{

    <div class="card" >
        <div class="row card-block well">
            <div class="col-md-2">
                <img src="@data.ImageUrl" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        Song:<b> @Html.DisplayFor(modelItem => data.Title)</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Artist: <b>@Html.DisplayFor(modelItem => data.Artist)</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Duration:<b> @Html.DisplayFor(modelItem => data.Duration)</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        Genre:<b> @Html.DisplayFor(modelItem => data.Genre)</b>
                    </div>
                </div>
                <div class="row price">
                    <div class="col-md-6">
                        Price:<b>$ @Html.DisplayFor(modelItem => data.Price)</b>
                         @{ price = price + data.Price;}
                    </div>

                </div>
            </div>
            <div class="col-md-offset-2 col-md-2">
                <button type="button" class="btn btn-danger btn-sm removeButton" onclick="removeFromCart(@data.Id)">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </div>
           
        </div>
    </div>
}
<hr/>
<div class="row">
    <div class="col-md-3">
        <h3>Total:@price</h3>
    </div>
    <div class="col-md-offset-6 col-md-3">
        <button type="button" class="btn btn-primary btn-lg " onclick="payment(@price)">
            PROCEED TO PAY<span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
</div>